{% load crispy_forms_tags %}
<html>

<head>
	<title>Status</title>
	<meta charset="UTF-8">
    <meta name="viewport" content="width={device-width}, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rent</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body style="background-color: #d5b8d2;">
	<div class="isi" style="text-align: center;">

		<h1 class="pala" style="padding: 20px; border: 2px solid #333; background-color: #e5e5d8;">Halo, Apa Kabar?</h1>

		<form method="POST" style="margin-top: 5%;">{% csrf_token %}
			<!-- {{ form.as_p}} -->
			{% crispy form form.helper %}
		    <!-- <button type="submit" id="button">Post</button> -->
	    </form>

	    
		<h2 class="lihat" style="margin-top: 4%; padding: 20px; border: 2px solid #333; background-color: #e5e5d8;">Lihat status berdasarkan urutan waktu!</h2>
		<div class="lihatcont" style="text-align: center;">
		    {% for obj in status %}
		    <p id="date">{{obj.date}}</p>
		    <p id="status">{{obj.status}}</p>
		    {% endfor %}
	    </div>

    </div>
</body>
